{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %}");">
        <div class="bradcumbContent">
            <h2>Biz haqimizda</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area mt-50 section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <span>Eng yaxshilari</span>
                        <h3>Bizning maktabimiz</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <p>M.ULUG'BEK TUMANI XALQ TA’LIMI BO`LIMIGA QARAShLI 286- SONLI
«Innovatsion tajriba-sinov maktabi»
XAQIDA MA’LUMOT

286- o`rta ta’lim maktabi XXXX- yilda X yillik umumiy ta’lim maktabi sifatida ish boshlagan. XXXX o`rinli.
    Maktabdagi faoliyat olib borayotgan jami pedagoglar soni 96 nafar. Oliy toifalilar XX nafar, X- toifali XX nafar, X- toifali XX nafar, mutaxassislar soni XX nafarni tashkil etadi.  Ta’lim olayotgan o`quvchilar soni  XXX nafar shundan XXX nafarini qizlar tashkil etadi. 

</p>
                </div>
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                    <p>Maktab direktori: 
ABDULLAYEV DILSHOD ILHOMOVICH
</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="about-slides owl-carousel mt-100 wow fadeInUp" data-wow-delay="600ms">
                        <img src="{% static 'img/bg-img/m1.jpg' %}" alt="">
                        <img src="{% static 'img/bg-img/m2.jpg' %}" alt="">
                        <img src="{% static 'img/bg-img/m3.jpg' %}" alt="">
                        <img src="{% static 'img/bg-img/m4.jpg' %}" alt="">
                        <img src="{% static 'img/bg-img/m5.jpg' %}" alt="">
                        <img src="{% static 'img/bg-img/m6.jpg' %}" alt="">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Us Area End ##### -->

    <!-- ##### Team Area Start ##### -->
    <section class="teachers-area section-padding-0-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <span>Eng yaxshi</span>
                        <h3>Faxriy ustozlar</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="{% static 'img/hodimlar/u1.jpg' %}" alt="">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>ABDULLAYEV DILSHOD ILHOMOVICH</h5>
                            <span>Maktab direktori</span>
                        </div>
                    </div>
                </div>
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="{% static 'img/hodimlar/u2.jpg' %}" alt="">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Asatova <br>Guliston</h5>
                            <span>O'quv-tarbiya ishlari bo'yicha<br>direktor o'rinbosari</span>
                        </div>
                    </div>
                </div>
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="{% static 'img/hodimlar/u3.jpg' %}" alt="">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Xidirov Ravshan</h5>
                            <span>Ma'naviy-marifiy ishlar bo'yicha<br>direktor o'rinbosari</span>
                        </div>
                    </div>
                </div>
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="{% static 'img/hodimlar/u4.jpg' %}" alt="">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Umidjon <br> Aripov</h5>
                            <span>Ma'naviy-marifiy ishlar bo'yicha<br> yordamchi</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="view-all text-center wow fadeInUp" data-wow-delay="800ms">
                        <a href="#" class="btn academy-btn">Barcha o'qituvchilar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Features Area Start ##### -->
{% endblock content %}