{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
        <div class="bradcumbContent">
            <h2>Qo'shimcha darslar</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Top Popular Courses Area Start ##### -->
    <div class="top-popular-courses-area mt-50 section-padding-100-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <span>Tavsiya etilgan</span>
                        <h3>Qo'shimcha darslar</h3>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- Single Top Popular Course -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                        <div class="popular-course-content">
                            <h5>Mentalniy arifmetika</h5>
                            <span>Hozircha yo'q   |  March 18, 2018</span>
                            <div class="course-ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <p>Matematika fanidan alohida qo'shimcha darslar, mantiqiy masalalarni yechish</p>
                            <a href="#" class="btn academy-btn btn-sm">Batafsil</a>
                        </div>
                        <div class="popular-course-thumb bg-img" style="background-image: url({% static 'img/bg-img/pc-6.jpg' %});"></div>
                    </div>
                </div>

                <!-- Single Top Popular Course -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="500ms">
                        <div class="popular-course-content">
                            <h5>Horijiy tillar</h5>
                            <span>Iroda Irnazarova  |  March 18, 2019</span>
                            <div class="course-ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <p>Horijiy tillar ingliz tili, rus tili, fransuz tili, koreys tili</p>
                            <a href="#" class="btn academy-btn btn-sm">Batafsil</a>
                        </div>
                        <div class="popular-course-thumb bg-img" style="background-image: url({% static 'img/bg-img/pc-2.jpg' %});"></div>
                    </div>
                </div>

                <!-- Single Top Popular Course -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="600ms">
                        <div class="popular-course-content">
                            <h5>Informatika</h5>
                            <span>Sotiboldiyev Ilyosbek   |  March 19, 2019</span>
                            <div class="course-ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <p>Office dasturlar, kompyuter savodhonligi, dasturlash, qo'shimcha qurilmalar bilan ishlash </p>
                            <a href="#" class="btn academy-btn btn-sm">Batafsil</a>
                        </div>
                        <div class="popular-course-thumb bg-img" style="background-image: url({% static 'img/bg-img/pc-3.jpg' %});"></div>
                    </div>
                </div>

                <!-- Single Top Popular Course -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="700ms">
                        <div class="popular-course-content">
                            <h5>Tasviriy san'at</h5>
                            <span>Murotova Iroda   |  March 18, 2020</span>
                            <div class="course-ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <p>Tasviriy san'at, dizaynerlik, chizmachilik - garfika, rang tasvir.</p>
                            <a href="#" class="btn academy-btn btn-sm">See More</a>
                        </div>
                        <div class="popular-course-thumb bg-img" style="background-image: url({% static 'img/bg-img/pc-4.jpg' %});"></div>
                    </div>
                </div>

                <!-- Single Top Popular Course -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="800ms">
                        <div class="popular-course-content">
                            <h5>Tabiiy fanlar</h5>
                            <span>Xidirov Ravshan   |  March 18, 2021</span>
                            <div class="course-ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <p>Geografiya, Zoologiya, Botanika va boshqa tabiiy fanlar.</p>
                            <a href="#" class="btn academy-btn btn-sm">Batafsil</a>
                        </div>
                        <div class="popular-course-thumb bg-img" style="background-image: url({% static 'img/bg-img/pc-5.jpg' %});"></div>
                    </div>
                </div>

                <!-- Single Top Popular Course -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="900ms">
                        <div class="popular-course-content">
                            <h5>Adabiyotshunoslar</h5>
                            <span>Dildora Ibragimova   |  March 18, 2019</span>
                            <div class="course-ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <p>Biz kop kitob o'qiymiz va o'rganamiz</p>
                            <a href="#" class="btn academy-btn btn-sm">See More</a>
                        </div>
                        <div class="popular-course-thumb bg-img" style="background-image: url({% static 'img/bg-img/pc-1.jpg' %});"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Top Popular Courses Area End ##### -->

    <!-- ##### Top Popular Courses Details Area Start ##### -->
    <div class="popular-course-details-area wow fadeInUp" data-wow-delay="300ms">
        <div class="single-top-popular-course d-flex align-items-center flex-wrap">
            <div class="popular-course-content">
                <h5>Yosh ixtirochilar</h5>
                <span>Hozircha yo'q  |  March 18, 2018</span>
                <div class="course-ratings">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>Yosh ixtirochilar uchun izlanishlar olib borish uchun koplab imkoniyatlar yaratilgan bo'lib. Tajribali o'qituvchilar bilan birgalikda o'z g'oyalaringini amalga oshirishingiz mumkin</p>
                <a href="#" class="btn academy-btn btn-sm mt-15">Batafsil</a>
            </div>
            <div class="popular-course-thumb bg-img" style="background-image: url({% static 'img/bg-img/bg-4.jpg' %});"></div>
        </div>
    </div>
    {% endblock %}